// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'PT Serif',serif;} // font header
.fi {font-family: 'LigatureSymbols';} // font icon

// body
@bb: #fff; // body background

// colors
@cp: #383838; // color primary
@cl: #f08800; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 24px; // font size h1
@fsh2: 20px; // font size h2
@fsh3: 18px; // font size h3
@fsh4: 16px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1.2; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.3; // line height primary

// layout
@content-width: 960px;
@content-padding: 0 20px;