img {
	max-width: 100%;
	height: auto!important;
}
#nav-top {
	padding: 6px 0 0;
	color: #818084;
	background: #e8e6e6;
	a {
		color: #818084;
		&:hover{
			color: #000;
		}
	}
	.content {
		float: left;
		width: 52%;
		font-size: 14px;
		padding: 0 20px 0 0;
		p {
			margin: 8px 0;
		}
	}
	.lang {
		.rul;
		float: left;
		width: 12%;
		font-size: 13px;
		margin: 9px 0;
		text-align: right;
		&:before{
			.fi;
			content: '\e058';
			float: right;
			font-size: 27px;
			line-height: 1;
			margin: -6px 0 0 9px;
		}
		li {
			.rli;
			display: inline;
			margin: 0 0 0 4px;
			text-transform: uppercase;
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.active {
				a {
					color: #000;
				}
			}
		}
	}
	.user {
		float: left;
		width: 21%;
		font-size: 14px;
		text-align: right;
		margin: 8px 0;
		&:before{
			.fi;
			content: '\e13e';
			float: right;
			font-size: 30px;
			line-height: 1;
			margin: -7px 0 0 6px;
		}
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.card {
		float: left;
		width: 14%;
		padding: 0 0 0 0;
		margin: 6px 0;
		font-size:  15px;
		text-align: right;
		a {
			display: inline-block;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				&:before{
					text-decoration: none;
				}
			}
			&:before{
				.fi;
				content: '\e119';
				float: right;
				font-size: 30px;
				line-height: 1;
				margin: -5px -2px 0 13px;
			}
		}
	}
}
#page-header {
	position: relative;
	z-index: 9998;
	.logo {
		.fh;
		position: relative;
		font-size: 16px;
		padding: 30px 0 0;
		width: 65%;
		float: left;
		img {
			float: left;
			display: block;
			margin: -30px 22px -31px -51px;
		}
		a {
			text-decoration: none;
			color: #575759;
		}
	}
	.search {
		position: relative;
		float: right;
		width: 32%;
		padding: 4px 0 0;
		input[type=text] {
			.rin;
			.border-radius(0);
			float: left;
			text-align: right;
			font-size: 14px;
			width: 100%;
			height: 43px;
			padding: 14px 44px 14px 0;
			margin: 0 -29px 0 0;
			border: 1px solid transparent;
			border-bottom: 1px solid #818084;
			&:hover,&:focus {
				border-color: lighten(#818084,35%);
				border-bottom-color: #818084;
			}
			&:focus {
				border-color: #818084;
			}
		}
		button {
			.rin;
			position: relative;
			text-align: right;
			width: 100%;
			height: 43px;
			line-height: 44px;
			width: 29px;
			overflow: hidden;
			border-bottom: 3px solid #818084;
			&:before{
				.fi;
				font-size: 27px;
				content: '\e116';
				margin: 0 20px 0 3px;
			}
			&:hover{
				color: @cl;
			}
		}
		ul {
			.rul;
			display: none;
			position: absolute;
			right: 0;
			top: 100%;
			width: 100%;
			background: #fff;
			li {
				.rli;
				border-left: 1px solid #d9d9da;
				border-right: 1px solid #d9d9da;
				&:last-child {
					border-bottom: 1px solid #d9d9da;
				}
				&:before{
					position: absolute;
					content: '';
					left: 12px;
					right: 12px;
					top: 0;
					height: 1px;
					background: #d9d9da;
				}
				a {
					.transition(0.2s);
					.clearfix;
					.fh;
					font-size: 14px;
					color: #000;
					text-decoration: none;
					position: relative;
					display: block;
					padding: 10px 12px;
					img {
						float: left;
						display: block;
						margin: 0 10px 0 0;
					}
					&:hover{
						background: #f0f0f0;
					}
				}
			}
		}
	}
}
#mainmenu {
	position: relative;
	z-index: 9999;
	border-bottom: 1px solid #000;
	.container {
		position: static;
	}
	.mainmenu {
		float: right;
		&>ul {
			.rul;
			&>li {
				.rli;
				.fh;
				position: static;
				font-size: 14px;
				line-height: 17px;
				float: left;
				text-align: center;
				text-transform: uppercase;
				margin: 0 0 0 54px;
				&>a {
					.transition(border 0.2s);
					position: relative;
					display: inline-block;
					padding: 0 0 28px;
					height: 62px;
					color: @cp;
					text-decoration: none;
					&:hover{
						color: lighten(@cp,40%);
						border-bottom: 3px solid lighten(@cp,35%);
					}
				}
				&:hover{
					.dropdown {
						max-height: 400px;
					}
				}
				&.has-dropdown:hover{
					&>a {
						z-index: 3;
						border-bottom: 0;
						&:before{
							position: absolute;
							content: '';
							z-index: 1;
							left: 50%;
							top: 100%;
							border: 8px solid transparent;
							border-top-color: #fff;
						}
					}
				}
				&.active {
					&>a {
						color: @cl;
						&:before,&:after{
							position: absolute;
							z-index: 2;
							content: '';
							z-index: 1;
							left: 50%;
							top: 100%;
							margin-left: -8px;
							border: 8px solid transparent;
							border-top-color: #fff;
						}
						&:after{
							z-index: 0;
							margin-top: 1px;
							border-top-color: #000;
						}
					}
				}
			}
		}
		.dropdown {
			.transition(0.5s);
			max-height: 0;
			position: absolute;
			z-index: 2;
			text-align: center;
			left: 0;
			top: 100%;
			width: 100%;
			overflow: hidden;
			background: fade(#000,85%);
			.container {
				padding: 0 75px 35px;
			}
			ul {
				.rul;
				.col-4;
				padding: 35px 20px 0;
				li {
					.rli;
					margin: 12px;
					a {
						color: #fff;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					img {
						border: 1px solid #818084;
					}
					&.active {
						&>a {
							color: @cl;
						}
					}
				}
			}
		}
		select {
			.rin;
			.fh;
			font-size: 20px;
			display: none;
			width: 100%;
			padding: 5px 20px;
			background: @cl;
			option {
				background: #fff;
			}
		}
	}
}
.boxes {
	padding: 20px 0;
	.row {
		margin: 0 -20px;
	}
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
		padding: 0 20px;
	}
}
.box {
	position: relative;
	text-align: center;
	margin: 20px 0;
	overflow: hidden;
	a {
		color: #fff;
		text-decoration: none;
		&:hover{
			img {
				-webkit-opacity: 0.9;
				-moz-opacity: 0.9;
				opacity: 0.9;
				filter:alpha(opacity=90);
			}
			.content {
				bottom: -5px;
			}
		}
	}
	img {
		.transition(0.1s);
		display: block;
		margin: auto;
	}
	.content {
		.fh;
		.transition(0.1s);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 12px 58px 22px;
		text-align: left;
		font-size: 27px;
		background: fade(#000,50%);
		&:before{
			position: absolute;
			content: '';
			right: 40px;
			top: 50%;
			width: 22px;
			height: 63px;
			margin-top: -32px;
			background: url(../images/bg/03.png) no-repeat right top;
		}
		.col-6 &,.col-7 &,.col-8 &,.col-9 & {
			&:before{
				display: none;
			}
			p {
				&:after{
					font-family: 'serif';
					content: '>';
					margin: 0 0 0 10px;
				}
			}
			padding: 8px 24px 12px;
			font-size:  22px;
		}
		.col-3 &,.col-4 &,.col-5 & {
			&:before{
				display: none;
			}
			p {
				&:after{
					font-family: 'serif';
					content: '>';
					margin: 0 0 0 10px;
				}
			}
			padding: 12px 22px 14px;
			font-size:  14px;
		}
		h1,h2,h3,h4,.title {
			.fh;
			font-weight: normal;
			font-size: 42px;
			margin: 3px 0;
			.col-6 &,.col-6 &,.col-7 &,.col-8 &,.col-9 & {
				font-size: 32px;
				margin: 0 0 -5px;
			}
			.col-3 &,.col-4 &,.col-5 & {
				font-size: 26px;
				margin: 0 0 -2px;
			}
		}
		p {
			margin: 3px 0;
		}
	}
}
.logo-slider {
	position: relative;
	margin: 23px 0;
	padding: 30px 22px 5px;
	border-top: 1px solid #818084;
	text-align: center;
	ul {
		.rul;
		.clearfix;
		margin: auto;
		li {
			.rli;
			float: left;
			margin: 0 20px;
		}
	}
	.cycle-carousel-wrap {
		width: 9999em;
	}
	.prev,.next {
		position: absolute;
		top: 50%;
		left: 0px;
		width: 22px;
		height: 63px;
		margin-top: -22px;
		background: url(../images/bg/01.png) no-repeat;
		&:hover{
			background-position: left bottom;
		}
	}
	.next {
		left: auto;
		right: 0;
		background-position: right top;
		&:hover{
			background-position: right bottom;
		}
	}
}
.bottom-content {
	padding: 40px 0 16px;
	border-top: 1px solid #818084;
	.row {
		margin: 0 -20px;
	}
	.col {
		.col-3;
		padding: 0 20px;
	}
	.footer_menu, .payment_methods, .follow_us {
		.clearfix;
		h3 {
			margin: 0 0 15px;
			font-weight: normal;
			font-size: 25px;
			color: #000;
		}
		p {
			margin: 15px 0;
		}
	}
	.footer_menu {
		ul {
			.rul;
			margin: 18px 0;
			li {
				.rli;
				margin: 7px 0;
				font-size: 16px;
				line-height: 1;
				a {
					color: @cp;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	.payment_methods {
		p {
			margin: 22px 0;
		}
	}
	.follow_us {
		font-size: 16px;
		.fb {
			.transition(0.2s);
			.border-radius(50%);
			display: inline-block;
			position: relative;
			top: -2px;
			width: 30px;
			height: 31px;
			line-height: 31px;
			text-indent: -9999px;
			margin: -2px 0 0 7px;
			background: url(../images/icon/01.png) no-repeat;
			&:hover{
				-webkit-opacity: 0.7;
				-moz-opacity: 0.7;
				opacity: 0.7;
				filter:alpha(opacity=70);
			}
		}
		input[type=text] {
			.rin;
			.border-radius(0);
			position: relative;
			margin: 6px -33px 6px 0;
			float: left;
			height: 33px;
			width: 100%;
			padding: 0 30px 0 10px;
			font-size: 14px;
			border: 1px solid #818084;
		}
		input[type=submit] {
			.rin;
			position: relative;
			height: 33px;
			width: 33px;
			font-size: 32px;
			line-height: 1;
			text-align: right;
			overflow: hidden;
			padding: 6px 5px 0 0;
			overflow: hidden;
			font-weight: normal;
			&:hover{
				color: @cl;
			}
		}
	}
}
#page-footer {
	.inner {
		padding: 18px 0;
		border-top: 1px solid #818084;
	}
	.copy {
		float: left;
		font-size: 14px;
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size:  11px;
		margin: 23px 0;
		a {
			text-decoration: none;
			color: @cp;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: -2px -4px 0 8px;
		}
	}
}
.main-header {
	padding: 20px 0;
	margin: 0 0 38px;
	background: #f4f4f4;
	.title {
		margin: 9px 0;
		font-size: 35px;
		line-height: 1.1;
	}
}
.breadcrumbs {
	ul {
		.rul;
		.clearfix;
		margin: 9px 0;
		li {
			.rli;
			display: inline-block;
			font-weight: bold;
			font-size: 14px;
			margin: 0 6px 0 0;
			padding: 0 0 0 12px;
			&:before{
				top: 6px;
				font-size: 8px;
				content: '\e112';
			}
			a {
				display: inline-block;
				font-weight: normal;
				color: @cp;
				text-decoration: none;
			}
			&.home {
				padding-left: 0;
				margin-right: 0;
				&:before{
					display: none;
				}
				a {
					position: relative;
					text-indent: -9999px;
					width: 25px;
					&:before{
						.fi;
						position: absolute;
						left: -2px;
						top: -3px;
						text-indent: 0;
						content: '\e072';
						font-size: 24px;
						line-height: 1;
					}
				}
			}
		}
	}
}
.thumbnails {
	.rul;
	.clearfix;
	margin: 20px 0;
	margin: 0 -5px;
	li {
		.rli;
		padding: 0 5px;
		margin: 5px 0;
		float: left;
		text-align: center;
		a {
			&:hover {
				img {
					-webkit-opacity: 0.9;
					-moz-opacity: 0.9;
					opacity: 0.9;
					filter:alpha(opacity=90);
				}
			}
		}
	}
}
.main-content {
	float: right;
	width: 73.9%;
	margin: 20px 0;
}
.sidebar {
	float: left;
	width: 21.7%;
}
.detail-product {
	.detail-side-left {
		float: left;
		width: 45.6%;
	}
	.detail-side-right {
		float: right;
		width: 45.6%;
	}
	.thumbnails {
		li {
			width: 33.333%;
			&:first-child {
				width: 100%;
			}
		}
	}
	.links {
		.rul;
		.clearfix;
		margin: 20px 0;
		li {
			.rli;
			margin: 8px 0;
			a {
				color: @cp;
			}
			&.question {
				float: left;
				a {
					&:before{
						.fi;
						font-size: 24px;
						float: left;
						margin: -5px 5px 0 0;
						content: '\e041';
					}
				}
			}
			&.recommend {
				float: right;
				a {
					&:before{
						.fi;
						font-size: 24px;
						float: left;
						margin: -5px 5px 0 0;
						content: '\e059';
					}
				}
			}
		}
	}
	table.attribute {
		margin: 10px 0;
		a {
			color: @cp;
		}
		th {
			font-size: 14px;
		}
		th {
			font-weight: normal;
			padding: 0 20px 0 0;
		}
		.code {
			font-style: italic;
		}
		.price {
			th {
				font-weight: bold;
				padding-bottom: 10px;
				vertical-align: bottom;
			}
			td {
				.fh;
				font-weight: bold;
				font-size: 30px;
				line-height: 1;
				color: #000;
				padding-bottom: 10px;
				vertical-align: bottom;
			}
		}
	}
	.color-selector {
		.js & {
			label {
				position: relative;
				display: inline-block;
				text-indent: -9999px;
				width: 25px;
			}
		}
		.radio {
			position: absolute;
			left: 0;
			top: 0;
			text-indent: 0;
			span {
				.border-radius(0);
				display: inline-block;
				width: 25px;
				height: 25px;
				text-align: center;
				border: 0;
				&.checked {
					&:before{
						.fi;
						content: '\e02a';
						color: #fff;
						font-size: 20px;
						font-weight: normal;
						text-indent: 0;
						position: static;
						background: none;
						margin: 0 0 0 1px;
					}
				}
				input {
					.rin;
					width: 25px;
					height: 25px;
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					filter:alpha(opacity=0);
					cursor: pointer;
				}
			}
		}
	}
	.submit {
		.clearfix;
		label {
			float: left;
			padding: 16px 0 0;
		}
		input[type=number] {
			.rin;
			.border-radius(3px);
			float: left;
			width: 53px;
			height: 30px;
			padding: 3px 0 3px 10px;
			margin: -7px 16px 0 0;
			border: 1px solid #f0f0f0;
			border-left-color: #afb0b1;
			border-top-color: #afb0b1;
		}
		input[type=submit] {
			.btn;
			float: right;
			height: 55px;
			font-size: 22px;
			padding: 0 40px;
		}
	}
}
.other-products {
	margin: 50px 0 35px;
	.title {
		.fh;
		font-size: 25px;
		padding: 0 0 20px;
		margin: 0 0 40px;
		border-bottom: 1px solid #818084;
	}
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			.fh;
			width: 240px;
			padding: 0 40px 0 0;
			float: left;
			text-align: center;
			font-size: 15px;
			line-height: 1.2;
			white-space: normal;
			img {
				display: block;
				margin: 0 auto 18px;
			}
			a {
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.slider {
		position: relative;
		margin: auto;
		text-align: center;
	}
	.cycle-carousel-wrap {
		width: 9999em;
	}
	.prev,.next {
		position: absolute;
		z-index: 100;
		top: 50%;
		left: -40px;
		width: 22px;
		height: 63px;
		margin-top: -60px;
		background: #fff url(../images/bg/01.png) no-repeat;
		&:hover{
			background-position: left bottom;
		}
	}
	.next {
		left: auto;
		right: -40px;
		background-position: right top;
		&:hover{
			background-position: right bottom;
		}
	}
}
.list-products {
	.items-row {
		margin: 20px -20px 0;
		.clearfix;
		.item {
			text-align: center;
			padding: 0 20px;
			margin: 0 0 10px;
			float: left;
			width: 33.33333%;
			a {
				text-decoration: none;
				color: @cp;
				display: block;
				min-height: 335px;
				border-bottom: 1px solid #818084;
				&:hover{
					img {
						-webkit-opacity: 0.8;
						-moz-opacity: 0.8;
						opacity: 0.8;
						filter:alpha(opacity=80);
					}
				}
			}
			img {
				display: block;
				margin: 0 auto 10px;
			}
			h2 {
				margin: 18px 0 12px;
				font-size: 15px;
			}
			.price {
				margin: 12px 0;
			}
		}
	}
}
.filter-products {
	.inner {
		font-size: 14px;
		padding: 0 26px 10px;
		background: #f4f4f4;
		.form-row {
			.clearfix;
			padding: 14px 0;
			border-top: 1px solid #ddddde;
		}
		&>.form-row:first-of-type {
			border-top: 0;
		}
		.title {
			font-weight: bold;
			width: 13.9%;
			float: left;
			padding: 0 20px 0 0;
		}
		.content {
			width: 86.1%;
			float: left;
		}
		.ui-slider {
			margin: 3px 0;
		}
		.range-slider {
			float: left;
			width: 70%;
			.result {
				margin: 0;
				font-weight: bold;
			}
		}
		label {
			display: inline-block;
			white-space: nowrap;
		}
		label.stock {
			width: 30%;
			float: left;
			text-align: right;
			color: #4f9c2d;
			font-weight: bold;
			.checker {
				.checked {
					color: #4f9c2d;
				}
			}
		}
	}
	.footer {
		.clearfix;
		font-size: 14px;
		.content-reset,.content-toggle {
			position: relative;
			z-index: 1;
			float: right;
			height: 41px;
			line-height: 41px;
			padding: 0 24px 0 50px;
			background: url(../images/bg/02.png) no-repeat;
		}
		.content-reset {
			z-index: 0;
			padding-right: 39px;
			margin-right: -38px;
			button {
				.rin;
				color: #000;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					float: right;
					margin: -4px 0 0 8px;
					content: '\e12c';
					font-size: 21px;
				}
			}
		}
		.content-toggle {
			border-right: 1px solid #ededed;
			a {
				display: inline-block;
				color: #000;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					float: right;
					margin: -2px 0 0 8px;
					content: '\e120';
					font-size: 21px;
				}
			}
		}
	}
	.content-selectors {
		margin: 30px 0 10px;
		float: right;
		width: 55%;
		text-align: right;
		font-size: 14px;
		select {
			margin-right: 0;
			margin-left: 10px;
		}
	}
	.content-pagination {
		float: left;
		width: 45%;
		margin: 14px 0 0;
	}
}
.sidebar-menu {
	margin: 22px 0;
	padding: 0 0 17px;
	border-bottom: 1px solid #818084;
	ul {
		.rul;
		li {
			.fh;
			.rli;
			margin: 11px 0;
			font-size: 14px;
			text-transform: uppercase;
			a {
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.active {
				&>a {
					font-weight: bold;
					color: @cl;
				}
			}
		}
		ul {
			margin: 10px 0 10px 20px;
			li {
				margin: 5px 0;
				text-transform: none;
			}
		}
	}
}
.ui-slider {
	margin: 20px 0;
	position: relative;
	height: 10px;
	border-top: 1px solid #a8a8aa;
	border-left: 1px solid #a8a8aa;
	background: #f4f3ec;
	.ui-slider-range {
		position: absolute;
		top: -1px;
		bottom: -1px;
		background: #ffffff;
		border-top: 1px solid #747476;
	}
	.ui-slider-handle {
		position: absolute;
		top: -3px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		background: #000;
		cursor: pointer;
		outline: none;
	}
}
.range-slider {
	.result {
		margin: 20px 0;
	}
}
.js .range-slider {
	input[data-from],input[data-to] {
		display: none;
	}
}
.checker,.radio {
	display: inline-block;
	margin: 0 3px 0 0;
	span {
		.border-radius(3px);
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 20px;
		text-align: center;
		color: @cp;
		&:before{
			.fi;
			position: relative;
			content: '\e02b';
		}
		&.checked {
			color: @cl;
			&:before {
				content: '\e02a';
				visibility: visible;
			}
		}
		input {
			position: absolute;
			width: 16px;
			height: 17px;
			left: 0;
			top: 0;
			margin: 0;
			padding: 0;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter:alpha(opacity=0);
		}
	}
	&.disabled {
		span {
			border-color: #bbb;
			color: #bbb;
		}
		& * {
			cursor: not-allowed;
		}
	}
}
.radio {
	span {
		.border-radius(9px);
		top: 1px;
		width: 14px;
		height: 14px;
		border: 2px solid @cp;
		&:before{
			.border-radius(6px);
			position: absolute;
			top: 50%;
			left: 50%;
			content: '.';
			text-indent: -9999px;
			width: 6px;
			height: 6px;
			margin: -3px 0 0 -3px;
			overflow: hidden;
			background: @cp;
			visibility: hidden;
		}
		&.checked {
			&:before {
				content: '.';
				visibility: visible;
			}
		}
	}
	&.disabled {
		span {
			&:before{
				background: #bbb;
			}
		}
	}
}
.pagination {
	.fh;
	margin: 20px 0;
	font-size: 18px;
	font-weight: bold;
	a,span {
		margin: 0 4px;
	}
	span {
		color: @cl;
	}
	a {
		color: #000;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.basket {
	margin-bottom: 50px;
	.update {
		float: right;
		button {
			.btn;
		}
	}
	.empty {
		float: left;
		button {
			.btn;
		}
	}
	.discount {
		margin: 0 0 20px;
		button {
			.btn;
		}
	}
	.objednavka_formular_blok {
		.clearfix;
		margin: 20px 0;
		label {
			float: left;
			width: 30%;
			text-align: right;
			padding: 5px 20px 0 0;
			font-weight: bold;
		}
		input,select,textarea {
			width: 60%;
			margin: 0;
		}
	}
	.footer {
		.clearfix;
		padding: 20px;
		margin: 50px 0 0;
		background: #f4f4f4;
		.prev {
			float: left;
			button {
				background: @cl;
				&:hover{
					background: @cp;
				}
				&:before{
					.fi;
					content: '\e080';
					float: left;
					margin: 1px 10px 0 0;
				}
			}
		}
		.next {
			float: right;
			button {
				background: @cl;
				height: 46px;
				padding: 0 30px;
				font-weight: bold;
				margin-top: -7px;
				margin-bottom: -7px;
				&:hover{
					background: @cp;
				}
				&:before{
					.fi;
					content: '\e112';
					float: right;
					margin: 1px 0 0 10px;
				}
			}
		}
		button {
			.btn;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cp;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e00e';
			font-size: 28px;
		}
		&:hover{
			background: @cl;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}

.steps {
	.clearfix;
	margin: 0 0 20px;
	a,span {
		float: left;
		width: 25%;
		text-align: center;
		padding: 10px 20px;
		border: 1px solid #fff;
		background: #f4f4f4;
		text-decoration: none;
		color: lighten(@cp,40%);
		&.active {
			color: @cp;
			mark {
				background: @cp;
			}
		}
	}
	mark {
		.border-radius(13px);
		display: inline-block;
		width: 26px;
		height: 26px;
		line-height: 26px;
		text-align: center;
		background: lighten(@cp,40%);
		font-weight: bold;
		color: #fff;
		margin: 0 5px 0 0;
	}
}

// form
label {
	display: block;
}
input[type=text],input[type=email],input[type=password],input[type=number],textarea,select{
	.transition(0.2s);
	.rin;
	.border-radius(4px);
	position: relative;
	border: 1px solid #afb0b1;
	border-bottom-color: #f0f0f0;
	border-right-color: #f0f0f0;
	font-size: 15px;
	margin: 0 3px 5px 0;
	height: 32px;
	padding: 6px 10px;
	color: @cp;
	background: #fff;
	outline: 0;
	max-width: 100%;
}
textarea{
	padding:10px;
	width:auto;
	height:auto;
}
select{
	width:auto;
	padding: 2px 6px;
}
select[multiple=multiple] {
	height: auto;
}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
	background: #f9f9f9;
}
.form-group {
	.row;
	margin-top: 11px;
	margin-bottom: 11px;
	.form-label {
		.col-4;
	}
	.form-content {
		.col-8;
	}
	.form-captcha {
		.col-4;
	}
	.form-captcha-input {
		.col-4;
	}
}
form.question {
	margin: 54px 0;
	label {
		margin: 6px 0;
		font-size: 14px;
	}
	input[type=text],input[type=email],input[type=password],input[type=number],textarea,select {
		width: 100%;
	}
	.form-row {
		.row;
		margin: 20px -40px;
	}
	.form-side {
		.col-6;
		padding: 0 40px;
	}
	.form-submit {
		.col-12;
		text-align: right;
		button {
			.btn;
			margin-top: -6px;
			height: 46px;
			padding: 0 30px;
			background: @cl;
			&:before{
				.fi;
				float: right;
				content: '\e118';
				font-size: 30px;
				margin: 0 -5px 0 14px;
			}
			&:hover{
				background: @cp;
			}
		}
	}

}
form.login {
	margin: 85px 16%;
	padding: 65px 140px 60px 120px;
	border: 1px solid #818084;
	label {
		margin: 6px 0;
		font-size: 14px;
	}
	input[type=text],input[type=email],input[type=password],input[type=number],textarea,select {
		width: 100%;
	}
	.form-row {
		.row;
		margin-top: 11px;
		margin-bottom: 11px;
	}
	.form-label {
		.col-3;
	}
	.form-content {
		.col-9;
	}
	.form-forgot {
		.col-6;
		padding-top: 18px;
		font-size: 14px;
		a {
			color: @cp;
		}
	}
	.form-submit {
		.col-6;
		padding-top: 4px;
		text-align: right;
		button {
			.btn;
			height: 46px;
			padding: 0 30px;
			background: @cl;
			&:before{
				.fi;
				float: right;
				content: '\e13e';
				font-size: 28px;
				margin: 0 0 0 14px;
			}
			&:hover{
				background: @cp;
			}
		}
	}

}
.quick_help {
	padding: 10px;
	margin: 20px 0;
	border: 1px solid lighten(@cp,50%);
	background: #f4f4f4;
}
// table
table.normal,.kosik_main{
	width: 100%;
	margin: 20px 0;
	th,td {
		padding: 5px 10px;
		border: 1px solid lighten(@cp,60%);
		border-left-color: lighten(@cp,70%);
		border-right-color: lighten(@cp,70%);
	}
	thead td, th, .kosik_nadpis {
		color: #fff;
		background: lighten(@cp,10%);
		a {
			color: #fff;
		}
	}
}
.register-form {
	margin: 50px 0;
	input[type=text],input[type=email],input[type=password],input[type=number],textarea,select {
		width: 400px;
	}
	tr td:first-child {
		padding-right: 20px;
	}
	button[type=submit] {
		.btn;
		float: right;
	}
}
.kosik_main {
	a.remove {
		display: inline-block;
		text-decoration: none;
		color: darken(red,10%);
		width: 20px;
		overflow: hidden;
		&:before{
			.fi;
			content: '\e12c';
			font-size: 24px;
			margin: 0 20px 0 0;
		}
	}
	.kosik_celkem_cena_s_dani {
		font-weight: bold;
		font-size: 20px;
		color: darken(red,10%);
	}
	.kosik_celkem_s_dani_nadpis,.kosik_celkem_nadpis,.kosik_celkem_cena {
		font-weight: bold;
	}
	input.do_kosiku {
		width: 32px;
		text-align: center;
	}
}