@media (min-width:768px) and (max-width:1180px){
	.container {
		width: 740px;
	}
	#nav-top {
		.content {
			width: 30%;
		}
		.lang {
			width: 20%;
		}
		.user {
			width: 30%;
		}
		.card {
			width: 20%;
		}
	}
	#page-header {
		.logo {
			padding-left: 80px;
			margin-bottom: 50px;
			img {
				float: none;
				margin-bottom: -45px;
				margin-left: -130px;
			}
		}
	}
	#mainmenu {
		.mainmenu {
			&>ul {
				&>li {
					font-size: 13px;
					margin-left: 25px;
				}
			}
		}
	}
	.boxes {
		padding: 10px 0;
		.row {
			margin: 0 -10px;
		}
		.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
			padding: 0 10px;
		}
	}
	.box {
		margin: 10px 0;
		.content {
			font-size: 22px;
			.col-6 &,.col-7 &,.col-8 &,.col-9 & {
				font-size:  16px;
			}
			.col-3 &,.col-4 &,.col-5 & {
				font-size:  13px;
			}
			h1,h2,h3,h4,.title {
				font-size: 32px;
				.col-6 &,.col-6 &,.col-7 &,.col-8 &,.col-9 & {
					font-size: 24px;
				}
				.col-3 &,.col-4 &,.col-5 & {
					font-size: 19px;
				}
			}
		}
	}
	.bottom-content {
		.footer_menu, .payment_methods, .follow_us {
			h3 {
				font-size: 20px;
			}
		}
	}
	.main-content {
		width: 65.7%;
	}
	.sidebar {
		float: left;
		width: 28.6%;
	}
	.detail-product {
		.detail-side-left {
			float: none;
			width: 100%;
		}
		.detail-side-right {
			float: none;
			width: 100%;
		}
	}
	.list-products {
		.items-row {
			margin-left: -10px;
			margin-right: -10px;
			.item {
				padding-left: 10px;
				padding-right: 10px;
				a {
					min-height: 300px;
				}
				h2 {
					font-size: 14px;
				}
			}
		}
	}
	.filter-products {
		.inner {
			.title {
				width: 100%;
				float: none;
				margin: 0 0 10px;
			}
			.content {
				width: 100%;
				float: none;
			}
			.ui-slider {
				margin: 3px 0;
			}
			.range-slider {
				width: 100%;
				float: none;
				margin-bottom: 10px;
			}
			label.stock {
				width: 100%;
				float: none;
				text-align: left;
			}
		}
		.content-selectors {
			width: 100%;
			float: none;
			text-align: left;
		}
		.content-pagination {
			width: 100%;
			float: none;
		}
	}
	form.question {
		.form-side {
			.col-12;
			padding: 0 40px;
		}
		.form-submit {
			.col-12;
		}
	}
	form.login {
		margin: 40px 10%;
		padding: 60px 80px;
		.form-label {
			.col-3;
		}
		.form-content {
			.col-9;
		}
	}
	.register-form {
		input[type=text],input[type=email],input[type=password],input[type=number],textarea,select {
			width: 300px;
		}
	}
}
@media (max-width:767px){
	.container {
		text-align: center;
		width: 100%;
	}
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
		width: 100%;
	}
	#nav-top {
		.content,.lang,.user,.card {
			width: 100%;
			text-align: center;
			float: none;
			&:before{
				display: none;
			}
		}
	}
	#page-header {
		.logo {
			width: 100%;
			float: none;
			text-align: right;
			img {
				float: none;
				margin-left: 0;
			}
		}
		.search {
			margin-top: 20px;
			width: 100%;
		}
	}
	#mainmenu {
		margin-top: 20px;
		border-top: 1px solid #000;
		.mainmenu {
			float: none;
			ul {
				display: none;
			}
			select {
				display: block;
			}
		}
	}
	.box {
		img {
			width: 100%;
		}
		a {
			color: @cp;
		}
		.content {
			position: static;
			padding: 0;
			font-size: 27px;
			background: none;
			.col-6 &,.col-7 &,.col-8 &,.col-9 & {
				padding: 0;
				font-size:  27px;
			}
			.col-3 &,.col-4 &,.col-5 & {
				padding: 0;
				font-size:  27px;
			}
			h1,h2,h3,h4,.title {
				font-size: 42px;
				.col-6 &,.col-6 &,.col-7 &,.col-8 &,.col-9 & {
					font-size: 36px;
					margin: 0;
				}
				.col-3 &,.col-4 &,.col-5 & {
					font-size: 36px;
					margin: 0;
				}
			}
			p {
				margin: 3px 0;
			}
		}
	}
	.logo-slider {
		ul {
			width: 200px;
			li {
				width: 200px;
			}
		}
		.cycle-carousel-wrap {
			width: 9999em;
		}
		.prev,.next {
			position: absolute;
			top: 50%;
			left: 0px;
			width: 22px;
			height: 63px;
			margin-top: -32px;
			background: url(../images/bg/01.png) no-repeat;
			&:hover{
				background-position: left bottom;
			}
		}
		.next {
			left: auto;
			right: 0;
			background-position: right top;
			&:hover{
				background-position: right bottom;
			}
		}
	}
	.main-content {
		float: none;
		width: 100%;
		text-align: left;
	}
	.sidebar {
		float: none;
		width: 100%;
	}
	.detail-product {
		.detail-side-left {
			float: none;
			width: 100%;
		}
		.detail-side-right {
			float: none;
			width: 100%;
		}
		.thumbnails {
			margin-top: 40px;
			border-top: 1px solid #818084;
			li {
				width: 33.333%;
				&:first-child {
					width: 100%;
				}
			}
		}
	}
	.other-products {
		.slider {
			width: 200px;
		}
	}
	.sidebar-menu {
		padding-top: 20px;
		border-top: 1px solid #818084;
	}
	.bottom-content {
		.col {
			.col-12;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.filter-products {
		.inner {
			.title {
				width: 100%;
				float: none;
				margin: 0 0 10px;
			}
			.content {
				width: 100%;
				float: none;
			}
			.ui-slider {
				margin: 3px 0;
			}
			.range-slider {
				width: 100%;
				float: none;
				margin-bottom: 10px;
			}
			label.stock {
				width: 100%;
				float: none;
				text-align: left;
			}
		}
		.content-selectors {
			width: 100%;
			float: none;
			text-align: left;
		}
		.content-pagination {
			width: 100%;
			float: none;
		}
		.footer {
			margin: 10px 0;
			text-align: center;
			.content-reset,.content-toggle {
				display: inline;
				float: none;
				height: auto;
				line-height: 1.3;
				padding: 0;
				margin: 0 10px;
				background: none;
				border: 0;
			}
		}
		.content-selectors {
			margin: 20px 0;
			float: none;
			width: 100%;
			text-align: center;
			select {
				width: 100%;
				margin: 5px 0;
			}
		}
	}
	.list-products {
		.items-row {
			.item {
				float: none;
				width: 100%;
				margin-bottom: 40px;
				a {
					min-height: 0;
					padding-bottom: 15px;
					&:hover{
						img {
							-webkit-opacity: 0.8;
							-moz-opacity: 0.8;
							opacity: 0.8;
							filter:alpha(opacity=80);
						}
					}
				}
				img {
					display: block;
					margin: 0 auto 10px;
				}
				h2 {
					margin: 18px 0 12px;
					font-size: 15px;
				}
				.price {
					margin: 12px 0;
				}
			}
		}
	}
	.pagination {
		float: none;
		width: 100%;
		text-align: center;
	}
	.steps {
		a,span {
			width: 100%;
			text-align: left;
		}
	}
	.basket {
		.update {
			float: none;
			button {
				width: 100%;
				margin: 5px 0;
			}
		}
		.empty {
			float: none;
			button {
				width: 100%;
				margin: 5px 0;
			}
		}
		.discount {
			margin: 0 0 20px;
			button {
				.btn;
			}
		}
		.footer {
			.prev {
				float: none;
			}
			.next {
				float: none;
			}
			button {
				margin: 20px 0;
				width: 100%;
			}
		}
	}
	.form-group {
		.row;
		.form-label {
			.col-12;
		}
		.form-content {
			.col-12;
		}
		.form-captcha {
			.col-12;
		}
		.form-captcha-input {
			.col-12;
		}
	}
	form.question {
		margin: 20px 0;
		text-align: left;
		.form-row {
			.row;
		}
		.form-side {
			.col-12;
			padding: 0 10px;
		}
		.form-submit {
			.col-12;
			padding-top: 20px;
			text-align: left;
			button {
				width: 100%;
				&:before{
					display: none;
				}
			}
		}

	}
	form.login {
		margin: 20px 0;
		padding: 60px 80px;
		text-align: left;
		.form-label {
			.col-12;
		}
		.form-content {
			.col-12;
		}
		.form-forgot {
			.col-12;
		}
		.form-submit {
			.col-12;
			padding-top: 20px;
			text-align: left;
			button {
				width: 100%;
				&:before{
					display: none;
				}
			}
		}

	}
	.register-form {
		input[type=text],input[type=email],input[type=password],input[type=number],textarea,select {
			width: 100%;
		}
		tbody,tr,th,td {
			display: block;
		}
		button[type=submit] {
			float: none;
			width: 100%;
		}
	}
	#page-footer {
		.copy {
			float: none;
		}
		.xart {
			float: none;
			img {
				float: none;
				display: block;
				margin: auto;
			}
		}
	}
}